<header class="Hamburger">
    <nav>
        <button>menu</button>
    </nav>

    <section>
        <ul>
            <li>
                <a href="logIn">Login</a>
            </li>
            <hr>
            <li>
                <a href="account">Maak account</a>
            </li>
            <hr>
            <li>
                <a href="/">Home</a>
            </li>
            <hr>
            <li>
                <a href="favorieten">Favorieten</a>
            </li>
            <hr>
        </ul>
    </section>
</header>