<header class="Hamburger">
    <nav>
        <button>menu</button>
    </nav>

    <section>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <hr>
            <li>
                <a href="#">Favorieten</a>
            </li>
            <hr>
            <li>
                <a href="#">Mijn account</a>
            </li>
            <hr>
            <li>
                <a href="#">Instellingen</a>
            </li>
            <hr>
        </ul>
    </section>
</header>