<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="style2.css">
</head>
<%- include('partials/header.ejs'); %>

<body class="favorieten">
  <h1>Favorieten</h1>
  <div>
    <img src="./images/alpacas.png" alt="alpacas" width="32%">
    <img src="./images/bad2.png" alt="bad2" width="32%">
    <img src="./images/kralen.png" alt="kralen" width="32%">
    <img src="./images/rollerskating2.png" alt="rollerskating2" width="32%">
    <img src="./images/skydiven.png" alt="skydiven" width="32%">
    <img src="./images/suppen2.png" alt="suppen2" width="32%">
    <img src="./images/waterfiets.png" alt="waterfiets" width="32%">
    <img src="./images/yoga.png" alt="yoga" width="32%">
  </div>

  <button>
    <p>Beheer</p>
  </button>

</body>
<footer></footer>
<script src="script.js"></script>

</html>