<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="style2.css">
</head>
<%- include('partials/header.ejs'); %>

<body class="Favorieten">
  <h1>Favorieten</h1>
  <img src="./images/alpacas.png" alt="alpacas">
  <img src="./fotos/bad2.png" alt="bad2">
  <img src="./foto's/kralen.png" alt="kralen">
  <img src="./foto's/rollerskating2.png" alt="rollerskating2">
  <img src="./foto's/skydiven.png" alt="skydiven">
  <img src="./foto's/suppen2.png" alt="suppen2">
  <img src="./foto's/waterfiets.png" alt="waterfiets">
  <img src="./foto's/yoga.png" alt="yoga">
  <button>
  </button>

</body>
<footer></footer>
<script src="script.js"></script>

</html>