<!DOCTYPE html>
<html>
    <% images.forEach(function(image){ %>
        <section>
            <h2><%= image.name %></h2>
            <h3><%= image.storyline %></h3>
            <h3>Categories: </h3>
            <ul>
                <% image.categories.forEach(function(category){ %>
                <li><%= category %></li>
                <% }) %>
            </ul>
            <img src="./static/images/suppen2.png" alt="">
            <p><a href="">More info</a></p>
        </section>
        <% }) %>


</html>