<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body class="Login">
    <h1>LOGIN</h1>
    <form>
        <fieldset>
            <input type="text" name="user" placeholder="E-mail"><br><br>
            <input type="text" name="user" placeholder="Wachtwoord"><br><br>
            <a href="#">Wachtwoord vergeten?</a><br><br>
            <input type="submit" value="LOGIN">
            <h2>Nog geen account? <a href="#">Meld je aan!</a></h2>
        </fieldset>
    </form>
</body>
<footer></footer>
<script src="script.js"></script>

</html>