<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/style2.css">
</head>

<body class="Account">
    <%- include('partials/header.ejs'); %>

    <h1>Maak een account aan</h1>
    <form>
        <label for="username">Voornaam</label>
        <input type="text" id="username" name="username">

        <label for="username">Achternaam</label>
        <input type="text" id="username" name="username">

        <label for="username">E-mail adres</label>
        <input type="text" id="username" name="username">

        <label for="username">Wachtwoord</label>
        <input type="text" id="username" name="username">

        <label for="username">Herhaal wachtwoord</label>
        <input type="text" id="username" name="username">

        <input type="submit" value="Maak account">
    </form>
</body>
<footer></footer>
<script src="script.js"></script>

</html>