<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/style2.css">
</head>

<body class="Account">
    <%- include('partials/header.ejs'); %>

    <h1>Maak een account aan</h1>
    <form>
        <label for="username">Voornaam</label><br>
        <input type="text" id="username" name="username"><br><br>

        <label for="username">Achternaam</label><br>
        <input type="text" id="username" name="username"><br><br>

        <label for="username">E-mail adres</label><br>
        <input type="text" id="username" name="username"><br><br>

        <label for="username">Wachtwoord</label><br>
        <input type="text" id="username" name="username"><br><br>

        <label for="username">Herhaal wachtwoord</label><br>
        <input type="text" id="username" name="username"><br><br>

        <input type="submit" value="Maak account">
    </form>
</body>
<footer></footer>
<!-- <script src="script.js"></script> -->

</html>