<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style2.css">
</head>

<body class="reviewPage">
    <%- include('partials/header.ejs'); %>

    <h1>Reviews</h1>

    <div id="review">
        <form action="/review-submit" class="reviewtje" method="POST">
            <!-- <h1>Reviews</h1> -->

            <div id="apiReviews">
                <!-- Hier word API ingeladen -->
            </div>

            <% if (image){%>
            <input type="hidden" name="imageId" value="<%=image.id%>">
            <% } %>
            <!-- <input type="hidden" name="imageId" value=""> -->

            <input type="text" name="review" placeholder="Naam"><br><br>
            <input type="text" name="review" placeholder="Schrijf ook een review!"><br><br>
            <input id="review-submit" name="review-submit" type="submit" value="Verstuur">
            <label for="review-submit" class="submit-review-label"></label>
        </form>
    </div>

    <article id="submit-text">
        <span id="submit-text-return"></span>
        <p>Review is verstuurd!</p>
    </article>

    <div>
        <a href="/">Terug</a>
        <!-- <a href="#">Ja</a> -->
    </div>

    <script type="text/javascript" src="/script.js"></script>
    <script src="/api.js"></script>
</body>

</html>