<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style2.css">
</head>

<body class="Swipe">
    <%- include('partials/header.ejs'); %>

    <h1>Jouw matches</h1>
    <div id="review">
        <form action="/review" class="reviewtje" method="POST">
            <h2>Reviews</h2>

            <div id="reviews">
                <!-- <p class="review-name"></p>
                <p class="review-rating"></p>
                <p class="review-description"></p> -->
            </div> 
            
            <% if (image){%>
                <input type="hidden" name="imageId"
            value="<%=image.id%>">  
            <% } %>  
            
            <!-- <input type="hidden" name="imageId" value=""> -->
            <input type="text" name="review" placeholder="Schrijf ook een review!"><br><br>
            <input class="review-submit" name="review-submit" type="submit" value="Verstuur">
            <label for="review-submit" class="submit-review-label">Review is verstuurd!</label>
        </form>
    </div>

    <article id="submit-text">
        <span id="submit-text-return">&#10060;</span>
        <p>Your review is submitted!</p>
    </article>

    <div>
        <a href="#">Terug</a>
        <!-- <a href="#">Ja</a> -->
    </div>

    <script type="text/javascript" src="/script.js"></script>
    <script src="api.js"></script>
</body>

</html>