<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style2.css">
</head>

<body class="Swipe">
    <%- include('partials/header.ejs'); %>

    <h1>Jouw matches</h1>
    <div id="review">
        <form action="/review" method="POST">
            <h2>Beschrijving</h2>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                Ipsum.<br>
            </p><br><br>
            <input type="hidden" name="imageId" value="<%= image.id %>">
            <input type="text" name="review" placeholder="Schrijf een review!"><br><br>
            <input type="submit" value="Verstuur">
        </form>
    </div>

    <div>

        <a href="#">Nee</a>
        <!-- <p>Nee</p> -->
        <a href="#">Ja</a>

    </div>

    <script type="text/javascript" src="/script.js"></script>
</body>

</html>