<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style2.css">
</head>

<body class="Swipe">
    <%- include('partials/header.ejs'); %>

    <h1>Jouw matches</h1>
    <div id="review">
        <form action="/review" method="POST">
            <h2>Reviews</h2>

            <!-- <div id="reviews">
                <p class="review-name"></p>
                <p class="review-rating"></p>
                <p class="review-description"></p>
            </div> -->
            
            <% if (image){%>
                <input type="hidden" name="imageId"
            value="<%=image.id%>">  
            <% } %>  
            <!-- <input type="hidden" name="imageId" value=""> -->
            <input type="text" name="review" placeholder="Schrijf ook een review!"><br><br>
            <input type="submit" value="Verstuur">
        </form>
    </div>

    <div>
        <a href="#">Nee</a>
        <a href="#">Ja</a>
    </div>

    <script type="text/javascript" src="/script.js"></script>
    <script src="api.js"></script>
</body>

</html>