body {
    background-color:whitesmoke;
    font-family: helvetica;
}

/* HAMBURGER MENU */
header nav button {
    position:relative; 
    width:4em; height:2em;
    margin:0; padding:0;
    font-size:1em;
    background-color:rgb(245, 147, 102);
    border: none;
  }

header section {
    position:fixed;
    background-color:thistle;
    top:0;
    left:0;
    right:0;
    bottom:0; 
    padding:4em 2em 2em;
    transform:translateY(-100%);
    transition:.5s;
  }
  
  header.menuOpen section {
    transform:translateY(0);
  }

  header section a {
      text-decoration: none;
      color: white;
      font-size: 30px;
  }

  /* DE REST */
  h1 {
    text-align: center;
    margin-top: 1em;
    font-size: 30px;
    color: rgb(245, 147, 102);
}

img {
    display: block;
    margin: auto;    
}

section p {
    position: absolute;
    top:35em;
    left:10em;
    right:10em;
    bottom:10em; 
    text-align: center;
    background-color: white;
    padding: 1em 1em;
    margin: 1em 3em;
    font-size: 12px;
}
 
button {
    text-align: center;
    margin: 2em 2em;
    border-radius: 4em;
    border:none;
    background-color: thistle;
    font-size: large;
    width: 4em;
    height: 4em;   
}

