
body {
    background-color:whitesmoke;
    font-family: helvetica;
  }

  h1 {
      text-align: center;
      margin-top: 3em;
      font-size: 50px;
      color: rgb(245, 147, 102);
  }

  form {
      text-align: center;         
  }

  form a {
      font-size: 10px;
      color:grey;
  }

  form input:last-of-type {
      background-color:thistle;
      border:none;
      color: white;
      font-size: 20px;
      border-radius: 0.5em;
      
  }

  h2 {
      font-size: 13px;
      text-align: center;
      margin-top: 2em;
      color: grey;
  }

  h2 a {
      color: grey;
  }