:root {
    --mainColor: black;
    --background-color: whitesmoke;
    --colorOrange: rgb(245, 147, 102);
    --colorPink: thistle;
    --colorGrey: grey;
    --colorBlack: black;
    --colorWhite: white;
}


body {
    background-color: var(--background-color);
    font-family: helvetica;
}

/* LOGIN */
.Login fieldset {
    border: none;
}

.Login h1 {
    text-align: center;
    margin-top: 3em;
    font-size: 50px;
    color: orange;
}

.Login form {
    text-align: center;
}

.Login form a {
    font-size: 10px;
    color: var(--colorGrey);
}

.Login form input:last-of-type {
    background-color: var(--colorPink);
    border: none;
    color: var(--colorWhite);
    font-size: 20px;
    border-radius: 0.5em;
}

.Login h2 {
    font-size: 13px;
    text-align: center;
    margin-top: 2em;
    color: var(--colorGrey);
}

.Login h2 a {
    color: var(--colorGrey);
}


/* ACCOUNT */
.Account body {
    background-color: var(--background-color);
    font-family: helvetica;
}

.Account h1 {
    margin: 1em 0em 2em 0.5em;
    color: var(--colorOrange);
}

.Account form {
    font-size: 20px;
    color: var(--colorGrey);
    margin-left: 1em;
}

.Account form input:last-of-type {
    background-color: var(--colorPink);
    border: none;
    color: var(--colorWhite);
    font-size: 20px;
    border-radius: 0.5em;
    margin-top: 1em;
}

/* SWIPE CAROUSEL */
.Swipe h1 {
    text-align: center;
    margin-top: 1em;
    font-size: 30px;
    color: var(--colorOrange);
}

.Swipe div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
}

.Swipe section {
    flex: 1;
    min-width: 100%;
}

.Swipe section h2 {
    color: var(--colorGrey)
}

.Swipe section img {
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.Swipe div:last-of-type {
    justify-content: center;
}

.Swipe div a {
    text-align: center;
    margin: 2em 2em;
    border-radius: 4em;
    border: none;
    font-size: large;
    width: 4em;
    height: 4em;
    line-height: 70px;
    text-decoration: none;
    color: black;
}

.Swipe div a:first-child {
    background-color:lightcoral;
    
}

.Swipe div a:last-child {
    background-color:lightgreen;
}

.Swipe div form {
    border: none;
    color: grey;
}

.Swipe div form p {
    text-align: center;
}

.Swipe ::placeholder {
    font-style: italic;
    font-size: 1em;
    color: lightgray;
    padding: 1em;
  }
#review {
    background-color: white; 
    border-style:solid;
}