:root {
    --mainColor: black;
    --background-color: whitesmoke;
    --colorOrange: rgb(245, 147, 102);
    --colorPink: thistle;
    --colorGrey: grey;
    --colorBlack: black;
    --colorWhite: white;
}

body {
    background-color: var(--background-color);
    font-family: Helvetica;
}

/* LOGIN */
.Login fieldset {
    border: none;
}

.Login h1 {
    text-align: center;
    margin-top: 3em;
    font-size: 50px;
    color: var(--colorOrange);
}

.Login form {
    text-align: center;
}

.Login form a {
    font-size: 10px;
    color: var(--colorGrey);
}

.Login form input:last-of-type {
    font-size: 1em;
    background-color: var(--colorPink);
    border: none;
    color: var(--colorBlack);
    text-decoration: none;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
}

.Login h2 {
    font-size: 13px;
    text-align: center;
    margin-top: 2em;
    color: var(--colorGrey);
}

.Login h2 a {
    color: var(--colorGrey);
}


/* ACCOUNT */
.Account body {
    background-color: var(--background-color);
    font-family: helvetica;
}

.Account h1 {
    margin: 1em 0em 1em 0.5em;
    color: var(--colorOrange);
}

.Account form {
    font-size: 20px;
    color: var(--colorGrey);
    margin-left: 1em;
}

.Account form input:last-of-type {
    font-size: 1em;
    background-color: var(--colorPink);
    border: none;
    color: var(--colorBlack);
    text-decoration: none;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    display: flex;
    margin-top: 1em;
}

.Account label {
    display: flex;
    flex-direction: column;
}

.Account input {
    margin-bottom: 1em;
    margin-top: 1em;
}


/* SWIPE CAROUSEL */
.Swipe h1 {
    margin-top: 1em;
    font-size: 30px;
    color: var(--colorOrange);
}

.Swipe main {
    display: flex;
}

.Swipe h2 {
    color: var(--colorGrey);
    font-size: 1em;
}

.Swipe section {
    flex: 1;
    min-width: 100%;
}

.Swipe section img {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    justify-content: center;
}

.Swipe div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: center;
}

.Swipe div a {
    text-align: center;
    margin: 2em 2em;
    border-radius: 4em;
    border: none;
    font-size: large;
    width: 4em;
    height: 4em;
    line-height: 70px;
    text-decoration: none;
    color: var(--colorBlack);
}

.Swipe div a:first-child {
    background-color: lightcoral;
}

.Swipe div a:last-child {
    background-color: lightgreen;
}

.Swipe div form {
    border: none;
    color: grey;
}

.Swipe div form p {
    text-align: center;
}

.Swipe ::placeholder {
    font-style: italic;
    font-size: 1em;
    color: lightgray;
    padding: 1em;
}


/* REVIEWS */
.reviewPage h1 {
    color: var(--colorOrange);
}

.reviewPage div a {
    font-size: 1em;
    background-color: var(--colorPink);
    border: none;
    color: var(--colorBlack);
    text-decoration: none;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
}

#review {
    background-color: white;
    padding: 2em;
}


#apiReviews h2 {
    color: var(--colorBlack);
    font-size: 0.9em;
}

#apiReviews p {
    color: var(--colorGrey);
    font-size: 0.8em;
    margin-bottom: 3em;
}

#submit-text {
    display: none;
    color: var(--colorBlack);
}


/* FAVORIETEN */
.favorieten h1 {
    color: var(--colorOrange);
}

.favorieten button {
    color: var(--colorBlack);
    background-color: var(--colorPink);
    border: none;
    padding: 5px 230px;
}

.favorieten button p {
    font-weight: bold;
    font-size: 1em;
}